body {
  background-color: #d9edfd;
}
img {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: -15px;
}

h4 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  position: relative;
  top: -225px;
  right: -130px;
}
table {
  font-family: "Raleway", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  max-width: 80%;
  position: relative;
  top: -220px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    109.6deg,
    rgb(137, 191, 221) 11.2%,
    rgb(150, 144, 204) 100.2%
  );
}
td {
  font-size: 28px;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #8294da;
  transition: all 200ms ease-in-out;
}
input:hover {
  cursor: pointer;
}
::placeholder {
  color: #000;
  font-family: "Raleway", sans-serif;
}
:hover::-webkit-input-placeholder {
  color: #596aca;
}
.city {
  display: inline-table;
  text-align: center;
  font-size: 80px;
  font-family: "Raleway", sans-serif;
  margin-top: -15px;
}
.temperatureHeading {
  width: 20%;
  margin: 0 auto;
  display: block;
  background-color: #c8ede6;
  border: 0.5px solid #fff;
  border-radius: 10px;
  position: relative;
  left: -120px;
  padding: 15px;
}
.humidityWindHeading {
  width: 20%;
  margin: 0 auto;
  display: block;
  background-color: #c8ede6;
  border: 0.5px solid #fff;
  border-radius: 10px;
  position: relative;
  left: -120px;
  bottom: -10px;
  padding: 30px;
}
.weatherDescription {
  width: 20%;
  height: 255px;
  background-color: #c8ede6;
  border: 0.5px solid #fff;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  position: relative;
  right: -120px;
  top: -240px;
}
.searchSubmit,
.currentLocation {
  background-color: #8294da;
  border-radius: 15px;
  border-color: #fff;
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.form {
  font-size: 28px;
  max-width: 80%;
  text-align: center;
  padding: 18px;
  display: block;
  margin: 0 auto;
  border: 1px solid #596aca;
  border-radius: 12px;
  background: linear-gradient(
    109.6deg,
    rgb(137, 191, 221) 11.2%,
    rgb(150, 144, 204) 100.2%
  );
}
.changeCityBox {
  font-size: 30px;
  padding: 1px 10px;
  border-radius: 50px;
}
.changeCityBox:hover {
  background-color: #c8ede6;
}
.container {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 78%;
}
.wrapper {
  display: block;
  text-align: center;
  margin: 0px 70px 150px 70px;
}
.cloudy {
  font-size: 27px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  color: #596aca;
  text-align: center;
}
.humidity,
.wind {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  color: #596aca;
}
.currentDateTime {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  color: #596aca;
  background-color: #c9eee7;
  display: inline-table;
  border: 0.5px solid #fff;
  border-radius: 10px;
}
.currentTemperature {
  position: relative;
  top: -10px;
  color: #596aca;
  font-family: "Raleway", sans-serif;
  font-size: 80px;
}
.fahrenheitCelsius {
  font-size: 18px;
  position: relative;
  font-family: "Raleway", sans-serif;
  top: -45px;
}
.openSource {
  position: relative;
  top: -330px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.icon {
  width: 115px;
  position: relative;
  top: -20px;
  margin: 25px auto;
  background: linear-gradient(
    109.6deg,
    rgb(137, 191, 221) 11.2%,
    rgb(150, 144, 204) 100.2%
  );
  border: 2px solid #aacac4;
  border-radius: 50%;
}
.active {
  color: #000;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.forecastIcons {
  width: 115px;
}
